@use '../abstracts/index' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: fs(sm);
  font-family: $secondary-font;
}

p {
  line-height: 3.2rem;
}

hr {
  border: 1px solid $color-gray-8;
}

a {
  font-family: $secondary-font;
}

a:link,
a:visited {
  color: $color-gray-1;
  text-decoration: none;
  cursor: pointer;

  transition: all 0.3s;
}

a:hover {
  color: $color-gray-5;
}
