@use '../abstracts/index' as *;

p {
  font-size: fs(sm);
  font-family: $secondary-font;
}

.section-title {
  font-size: fs(md);
  font-family: $secondary-font;
  font-weight: 900;
  letter-spacing: 0.1rem;
}
