@use '../abstracts/index' as *;

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&family=Quattrocento+Sans:wght@400;700&display=swap');

p {
  font-size: fs(sm);
  font-family: $secondary-font;
}

.section-title {
  font-size: fs(lg);
  font-family: $secondary-font;
  font-weight: 900;
  letter-spacing: 0.1rem;
}
