@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto:wght@400;500;900&display=swap');

// Colors
$color-gray-1: #f9fafb;
$color-gray-2: #f3f4f6;
$color-gray-3: #e5e7eb;
$color-gray-4: #d1d5db;
$color-gray-5: #9ca3af;
$color-gray-6: #6b7280;
$color-gray-7: #4b5563;
$color-gray-8: #374151;
$color-gray-9: #1f2937;
$color-gray-10: #111827;

// Spacing
$spacing-sizes: (
  xxs: 0.8rem,
  xs: 1.6rem,
  sm: 2.4rem,
  md: 3.2rem,
  lg: 6.4rem,
  xl: 7.2rem,
  xxl: 12.8rem,
);

// Font Sizes
$font-sizes: (
  xxs: 1rem,
  xs: 1.2rem,
  sm: 1.6rem,
  md: 2rem,
  lg: 2.4rem,
  xl: 3.2rem,
  xxl: 4rem,
  xxxl: 4.8rem,
);

// Typography
$primary-font: 'Archivo Black', sans-serif;
$secondary-font: 'Roboto', sans-serif;

// Breakpoints
$breakpoints: (
  small-desktop: 990px,
  tablet: 800px,
  large-mobile: 560px,
  medium-mobile: 500px,
  small-mobile: 375px,
);
