// Colors 
$color-gray-1: #f9fafb;
$color-gray-2: #f3f4f6;
$color-gray-3: #e5e7eb;
$color-gray-4: #d1d5db;
$color-gray-5: #9ca3af;
$color-gray-6: #6b7280;
$color-gray-7: #4b5563;
$color-gray-8: #374151;
$color-gray-9: #1f2937;
$color-gray-10: #111827;

// Spacing
$spacing-sizes: (
  xxs: 0.8rem,
  xs: 1.6rem,
  sm: 2.4rem,
  md: 3.2rem,
  lg: 6.4rem,
  xl: 7.2rem,
  xxl: 12.8rem,
);

// Font Sizes
$font-sizes: (
  // small
  xs: 1.2rem,
  // p
  sm: 1.6rem,
  // big
  md: 2.1rem,
  //h3
  lg: 2.8rem,
  // h2
  xl: 3.8rem,
  //h1
  xxl: 5.1rem,
  xxxl: 6.7rem
);
