@use '/src/sass/abstracts/index' as *;

.featured-projects {
  margin-bottom: ss(xxl);
}

.featured-projects-container {
  .featured-project-container:nth-child(even) {
    .featured-project {
      &-img-cell {
        order: 2;
      }

      &-description-cell {
        justify-content: end;
        text-align: end;
      }
      &-tech-stack {
        justify-content: end;
      }
    }
  }
}

@include media(large-mobile) {
  .featured-projects-container {
    .featured-project-container:nth-child(even) {
      .featured-project {
        &-img-cell {
          order: 0;
        }

        &-description-cell {
          justify-content: end;
          text-align: end;
        }
        &-tech-stack {
          justify-content: end;
        }
      }
    }
  }
}

@include media(medium-mobile) {
  .featured-projects {
    margin-bottom: ss(xl);
  }
}
