@use '/src/sass/abstracts/index' as *;

.featured-projects {
  &__container {
    margin-bottom: ss(xxl);

    @include media(medium-mobile) {
      margin-bottom: ss(xl);
    }

    .featured-project__container:nth-child(even) {
      .featured-project {
        &__img-cell {
          order: 2;

          @include media(tablet) {
            order: 0;
          }
        }

        &__description-cell {
          justify-content: end;
          text-align: end;

          @include media(tablet) {
            text-align: center;
          }
        }
        &__tech-stack {
          justify-content: end;

          @include media(tablet) {
            justify-content: center;
          }
        }
      }
    }
  }
}
