@use '/src/sass/abstracts/index' as *;

.project-card {
  background-color: $color-gray-9;
  border-radius: 8px;
}

.project-card {
  &-title {
    font-weight: 700;
  }

  &-title,
  &-content {
    font-size: fs(sm);
  }
}

.tech-stack {
  display: flex;
  gap: ss(xxs);
}

.tech {
  font-size: fs(xs);
  color: $color-gray-6;
}

.project-card-btn {
  font-size: fs(sm);
}
