@use '/src/sass/abstracts/index' as *;

.featured-project {
  &-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: ss(md);
    justify-items: center;
    align-items: center;
  }

  &-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &-title {
    font-size: fs(lg);
  }

  &-description {
    font-size: fs(sm);
    color: $color-gray-5;
  }

  &-tech-stack {
    font-size: fs(xs);
    color: $color-gray-7;
  }
}

@include media(tablet) {
  .featured-project {
    grid-template-columns: 1fr;
    gap: ss(sm);
  }
}

@include media(large-mobile) {
  .featured-project {
    &-container {
      grid-template-columns: 1fr;
      gap: ss(sm);
    }
  }
}

@include media(medium-mobile) {
  .featured-project-container {
    margin-top: ss(md);
    margin-bottom: ss(md);
  }
}
