@use '/src/sass/abstracts/index' as *;

.featured-project {
  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: ss(md);
    justify-items: center;
    align-items: center;

    @include media(tablet) {
      grid-template-columns: 1fr;
      gap: ss(sm);
      text-align: center;
    }

    @include media(medium-mobile) {
      margin: ss(md) 0;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    font-size: fs(lg);
  }

  &__description {
    font-size: fs(sm);
    color: $color-gray-5;
  }

  &__tech-stack {
    font-size: fs(sm);
    color: $color-gray-7;

    @include media(tablet) {
      justify-content: center;
    }
  }
}
