@use '/src/sass/abstracts/index' as *;

.project-grid {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: ss(xs);
}

@media (max-width: 930px) {
  .project-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@include media(medium-mobile) {
  .project-grid {
    grid-template-columns: 1fr;
  }
}
