@use '/src/sass/abstracts/index' as *;

.other-projects {
  &__grid {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: ss(xs);

    @media (max-width: 930px) {
      grid-template-columns: 1fr 1fr;
    }

    @include media(medium-mobile) {
      grid-template-columns: 1fr;
    }
  }
}
