@use '/src/sass/abstracts/index' as *;

.feature-project {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: ss(sm);
}

.feature-project-img {
  justify-self: end;
}

.feature-project-description {
  align-self: center;

  &:nth-child(1) {
    text-align: end;
    & .btn-group {
      justify-self: end;
    }
  }
}

.feature-project-btn {
  margin-inline: 0.4rem;
}
