@use '/src/sass/abstracts/index' as *;

.profile-pic {
  @include icon-size(6rem);
  background-color: white;
  border-radius: 50%;
}

.hero-name {
  font-size: fs(xxxl);
  font-family: $primary-font;
}

.hero-subheading {
  max-width: 70ch;
  line-height: 3.2rem;
  font-size: fs(lg);
  font-family: $secondary-font;

  span {
    color: $color-gray-5;
  }
}

.social-icons {
  display: flex;
}

.social-icon {
  @include icon-size(2.2rem);
  margin-right: ss(md);
}
