@use '/src/sass/abstracts/index' as *;

.profile-pic {
  height: 6rem;
  width: 6rem;
  background-color: white;
  border-radius: 50%;
}

.name {
  font-size: font-size(xl);
}

.subheading {
  max-width: 40%;
  line-height: 3.2rem;
  font-size: font-size(sm);
}

.social-icons {
  display: flex;
}

.social-icon {
  height: font-size(sm);
  width: font-size(sm);
  margin-right: spacing-size(md);
}
