@use '/src/sass/abstracts/index' as *;

.hero {
  &__intro {
    color: #f01d7f;
    font-size: 2.2rem;
    letter-spacing: 0.2rem;
    font-weight: 900;
    text-transform: uppercase;
    font-family: $secondary-font;
    font-size: fs(md);
    margin-bottom: ss(xs);

    @include media(large-mobile) {
      font-size: fs(sm);
    }
  }

  &__name,
  &__job {
    font-size: fs(xxxl);
    line-height: 5rem;

    @include media(large-mobile) {
      font-size: fs(xx);
    }
  }

  &__name {
    font-family: $primary-font;

    @include media(large-mobile) {
      margin-bottom: -0.5rem;
    }

    @media screen and (max-width: 537px) {
      margin-bottom: 0.2rem;
    }
  }

  &__job {
    color: $color-gray-5;
    font-family: $secondary-font;
    font-weight: 700;

    @media screen and (max-width: 537px) {
      line-height: 4.2rem;
    }
  }

  &__subheading {
    max-width: 70ch;
    line-height: 3.2rem;
    font-size: fs(xl);
    font-family: $secondary-font;
    color: $color-gray-7;
    font-weight: 300;
  }
}

.social {
  &-icon {
    @include icon-size(2.2rem);
    margin-right: ss(md);

    &:hover {
      color: #f01d7f;
    }
  }
}
