@use '/src/sass/abstracts/index' as *;

.about {
  &__container {
    @include media(small-desktop) {
      margin-top: ss(sm);
    }

    @include media(tablet) {
      margin-bottom: ss(md);
    }
  }

  &__text-box {
    p {
      line-height: 1.8;

      @include media(small-desktop) {
        line-height: 2;
      }
    }
  }
}
