@use '/src/sass/abstracts/index' as *;

.about {
  &-text-box {
    p {
      line-height: 1.8;

      @include media(small-desktop) {
        line-height: 2;
      }
    }
  }
}

@include media(small-desktop) {
  .about-container {
    margin-top: ss(sm);
  }
}

@include media(tablet) {
  .about-container {
    margin-bottom: ss(md);
  }
}
