.css-button-arrow--rose {
  min-width: 130px;
  // height: 40px;
  color: #fff;
  padding: 10px 30px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  overflow: hidden;
  border-radius: 5px;
  border: none;
}
.css-button-arrow--rose:hover {
  border-radius: 5px;
  padding-right: 50px;
  padding-left: 10px;
}
.css-button-arrow--rose:hover:after {
  opacity: 1;
  right: 15px;
}
.css-button-arrow--rose:after {
  content: '👋';
  position: absolute;
  opacity: 0;
  font-size: 20px;
  line-height: 40px;
  top: 8;
  right: -20px;
  transition: 0.4s;
}
