.text-gradient {
  --bg-size: 400%;
  --color-one: #0891b2;
  --color-two: #083cb2;
  background: linear-gradient(
      90deg,
      var(--color-one),
      var(--color-two),
      var(--color-one)
    )
    0 0 / var(--bg-size) 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: move-bg 8s infinite linear;
}

@media (prefers-reduced-motion: no-preference) {
  .boujee-text {
    animation: move-bg 8s linear infinite;
  }
  @keyframes move-bg {
    to {
      background-position: var(--bg-size) 0;
    }
  }
}

.underline-gradient {
  background: linear-gradient(to left, #0891b2, #083cb2 100%);
  background-position: 0 100%;
  background-size: 100% 2px;
  background-repeat: repeat-x;
}
