// Using Flex
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;

  &-x {
    display: flex;
    justify-content: center;
  }

  &-y {
    display: flex;
    align-items: center;
  }
}

//text
.text-center {
  text-align: center;
}
