@use '/src/sass/abstracts/index' as *;

.skill-icon-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  gap: ss(sm);

  img {
    @include icon-size(6rem);
    align-self: center;
  }

  @include media(small-desktop) {
    grid-template-columns: repeat(6, 1fr);
    column-gap: ss(lg);

    img {
      @include icon-size(7.5rem);
    }
  }
}
