@use '/src/sass/abstracts/index' as *;

.skill-icon-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  gap: ss(md);

  img {
    @include icon-size(6rem);
  }
}
