@use './sass/index' as *;
@use './sass/abstracts/index' as *;

.app {
  background-color: #151515;
  color: $color-gray-1;
  width: 100%;
  display: flex;
  justify-content: center;
}

.app-container {
  background-color: $color-gray-10;
  max-width: 1200px;
  border-inline: 1px solid $color-gray-8;
}

// About and Skills
.about-skills-container {
  display: flex;
  gap: ss(sm);
}

.about-wrapper {
  flex-basis: 60%;
  align-self: center;
}

hr {
  width: 90%;
  margin: 0 auto;
}

@include media(small-desktop) {
  .about-skills-container {
    flex-direction: column;
  }
}
