@use './sass/index' as *;
@use './sass/abstracts/index' as *;

.app {
  background-color: black;
  color: $color-gray-1;
  width: 100%;
}

.app-container {
  margin: 0 auto;

  background-color: $color-gray-10;
  width: 80%;
  border-inline: 1px solid $color-gray-8;
}

// Content Section CSS

.content-wrapper {
  display: flex;
  gap: ss(sm);

  @media screen and (max-width: 1152px) {
    flex-direction: column;
  }
}

hr {
  width: 90%;
  margin: 0 auto;
}
