$primary-backgound-color: #272935;
$secondary-backround-color: #23252f;
$primary-pink: #ff2957;
$secondary-pink: #ff5277;

a {
  color: $primary-pink;
}

a:hover {
  color: $secondary-pink;
  cursor: pointer;
}

button {
  color: $primary-pink;
}

#home {
  background-color: $primary-backgound-color;
}

.profile-img {
  padding: 0px;
  width: 80%;
  height: 80%;
  margin: auto;
}

#skills {
  background-color: $secondary-backround-color;
}

#projects {
  background-color: $primary-backgound-color;
}

#contact {
  background-color: $secondary-backround-color;
}

.button {
  color: $primary-pink;
  border-color: $primary-pink;
}

.button:hover{
  color: $secondary-pink;
  border-color: $secondary-pink;
  background-color: transparent;
}