@use '/src/sass/index' as *;

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  background-color: $color-gray-8;
  display: inline-block;
  padding: ss(xs);
  border-radius: 100px;
  font-size: 1.4rem;

  a:link,
  a:visited {
    color: $color-gray-1;
    text-decoration: none;
    cursor: pointer;

    transition: all 0.3s;
  }

  a:hover {
    color: $color-gray-5;
  }
}

.nav-link {
  margin-inline: ss(xxs);
}

.theme-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-gray-8;
  border-radius: 100px;
  height: 4.8rem;
  width: 4.8rem;
}

.theme-icon {
  @include icon-size(2.5rem);

  transition: all 0.3s;

  &:hover {
    cursor: pointer;
    color: $color-gray-5;
  }
}
