@use '/src/sass/index' as *;

.nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.nav-links-cell,
.theme-icon-cell {
  justify-self: center;
  align-self: center;
}

.nav-links {
  background-color: $color-gray-8;
  padding: ss(xxs);
  border-radius: 100px;
}

.nav-link {
  margin-inline: ss(xxs);
  font-size: 1.4rem;
}

.theme-icon-cell {
  justify-self: end;
}

.theme-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-gray-8;
  border-radius: 100px;
  @include icon-size(3.4rem);
}

.theme-icon {
  @include icon-size(2.5rem);
  justify-self: end;
  transition: all 0.3s;
  padding: 0.3rem;

  &:hover {
    cursor: pointer;
    color: $color-gray-5;
  }
}
