@use '/src/sass/index' as *;

.nav {
  &__container {
    // grid-template-columns: repeat(3, 1fr);
    padding-top: ss(md);

    @include media(large-mobile) {
      // grid-template-columns: 1fr;
      // padding-top: 0;
    }
  }

  &__links-cell {
    display: flex;
    justify-content: center;
  }

  &__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 9999px;

    @include media(large-mobile) {
      width: 100%;
      justify-content: space-evenly;
      border-radius: 0px;
      height: 60px;
    }
  }

  &__link {
    font-size: 1.4rem;
    font-family: $secondary-font;

    &:link,
    &:visited {
      color: $color-gray-1;
      text-decoration: none;
      cursor: pointer;

      transition: all 0.3s;
    }

    &:hover {
      color: $color-gray-5;
    }

    @include media(large-mobile) {
      font-size: 1.8rem;
    }
  }

  &__link-theme {
    display: none;

    @include media(large-mobile) {
      display: block;
    }
  }

  &__theme-icon {
    @include icon-size(2rem);
  }
}

.theme-icon {
  &__cell {
    @include media(large-mobile) {
      display: none;
    }
  }
  @include icon-size(2.1rem);
  justify-self: end;
  transition: all 0.3s;
  padding: 0.3rem;
  display: inline;

  &:hover {
    cursor: pointer;
    color: $color-gray-5;
  }

  &__cell {
    justify-self: end;
  }

  &-__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-gray-8;
    border-radius: 100px;
    @include icon-size(3.4rem);
  }
}
